<main class="content">
	<div class="container-fluid p-0">

		<h1 class="h3 mb-3"><strong>Assigned Reports</strong></h1>
		<div class="row">
			<div class="col-12 col-lg-8 col-xxl-9 d-flex">
				<div class="card flex-fill">
					<div class="card-header">

						<h5 class="card-title mb-0">Reports to respond to</h5>
					</div>
					{{#if data}}
						<table class="table table-hover my-0">
							<thead>
								<tr>
									<th class="d-none d-xl-table-cell">Report Name</th>
									<th class="d-none d-xl-table-cell">Upload Date</th>
									<th class="d-none d-xl-table-cell">Details</th>
									<th class="d-none d-xl-table-cell">Consulting Patient</th>
									<th class="d-none d-xl-table-cell">Delete</th>
								</tr>
							</thead>
							<tbody>
								{{#each data}}
									{{#unless this.respond}}
										<tr>
											<td><span class="d-none d-xl-table-cell">{{this.report.ReportName}}</span></td>
											<td class="d-none d-xl-table-cell">{{this.upload}}</td>
											<td class="d-none d-xl-table-cell"><a href="/report/response/{{@root.doctorId}}/{{this.report._id}}/{{this.patid}}/{{this.assignId}}" class="btn btn-sm btn-secondary">View</a></td>
											<td class="d-none d-xl-table-cell">{{this.fname}} {{this.lname}}</td>
											<td class="d-none d-xl-table-cell"><a href="/doctor/delete/{{@root.doctorId}}/{{this.report._id}}" class="btn btn-sm btn-secondary">Delete</a></td>
										</tr>
									{{/unless}}
								{{/each}}
							</tbody>
						</table>
					{{ else }}
						<h1 style="margin-left: 10em;"> No Reports are Assigned</h1>
					{{/if}}
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-12 col-lg-8 col-xxl-9 d-flex">
				<div class="card flex-fill">
					<div class="card-header">

						<h5 class="card-title mb-0">Ansewred Reports</h5>
					</div>
					{{#if data}}
						<table class="table table-hover my-0">
							<thead>
								<tr>
									<th>Report Name</th>
									<th class="d-none d-xl-table-cell">Upload Date</th>
									<th class="d-none d-xl-table-cell">Details</th>
									<th class="d-none d-xl-table-cell">Consulting Patient</th>
									<th class="d-none d-xl-table-cell" style="width: 10em;">Response</th>
									<th class="d-none d-xl-table-cell">Delete</th>
								</tr>
							</thead>
							<tbody>
								{{#each data}}
                  {{#if this.respond}}
									<tr>
										<td><span class="d-none d-xl-table-cell">{{this.report.ReportName}}</span></td>
										<td class="d-none d-xl-table-cell">{{this.upload}}</td>
										<td class="d-none d-xl-table-cell"><a href="/report/response/{{@root.doctorId}}/{{this.report._id}}/{{this.patid}}/{{this.assignId}}" class="btn btn-sm btn-secondary">View</a></td>
										<td class="d-none d-xl-table-cell">{{this.fname}} {{this.lname}}</td>
										<td class="d-none d-xl-table-cell">{{this.response}}</td>
										<td class="d-none d-xl-table-cell"><a href="/doctor/delete/{{@root.doctorId}}/{{this.report._id}}" class="btn btn-sm btn-secondary">Delete</a></td>
									</tr>
                  {{/if}}
								{{/each}}
							</tbody>
						</table>
					{{ else }}
						<h1 style="margin-left: 11em;"> You didn't response to a report yet</h1>
					{{/if}}
				</div>
			</div>
		</div>

	</div>
</main>
