<main class="content">
	<div class="row">
		<div class="col-12 col-md-6">
			<div class="card">
				{{!-- <form method="POST" action="/upload"> --}}
					<div class="card-header">
						<h5 class="card-title mb-0">Your uploaded Report</h5>
					</div>
					<div class="card-body">
						<p class="card-text">Check the validity of the extracted data in the oppposite form, and correct any missed input</p>
						{{!-- <div class="mb-5" style="margin-top: 2em;">
							<label class="form-label">Report Name</label>
							<input class="form-control form-control-lg" name="comments" type="text" style="width: 100%; margin-top:0.5em" required="required"/>
						</div> --}}
						{{!-- <a href="#" class="btn btn-primary" style="float: right;">Browse your folders</a> --}}
						{{!-- <button type="submit" class="btn btn-lg btn-primary"  style="float: right; margin-top:0.5em;" disabled id="sub_btn">Save & Submit</button>
						<input type="button" class="btn btn-lg btn-primary" id="my-button" value="Select Image" style=" margin-top:0.5em;">
						<input type="file" accept="image/gif, image/jpeg, image/png" onchange="loadFile(event)" name="my_file" id="my-file" style="visibility: hidden;"> --}}
						<img class="card-img-top" id="output" alt="Report Img" style="height:570px; width:450px; margin-left:2em" src={{info.imgpath}}>
						{{!-- <input  name="img_name" id="imgname" style="border: 1em; color:black" value="" type="hidden">  --}}
						{{!-- <script type="text/javascript">
							$('#my-button').click(function(){
									$('#my-file').click();
							});
						</script>
						<script>
							var loadFile = function(event) {
								var image = document.getElementById('output');
								image.src = URL.createObjectURL(event.target.files[0]);
								$('#imgname').val(URL.createObjectURL(event.target.files[0]));
								$('#sub_btn').prop('disabled', false);
							};
						</script> --}}
					</div>
				{{!-- </form> --}}
			</div>
		</div>
		<div class="col-12 col-md-6">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title mb-0">Blood Test Form</h5>
					<div class="m-sm-4">
						<form method="POST" action="/patient/uploadform/{{patientId}}">
							<div class="mb-5" style="margin-top: 2em;">
								<label class="form-label">Report Name</label>
								<input class="form-control form-control-lg" name="report_name" value="{{info.report_name}}" type="text" style="width: 100%; margin-top:0.5em" required="required"/>
							</div>
							<div style="display: inline-block; block; width: 100%;">
								<div class="mb-2" style="margin-top: 1em;">
									<label class="form-label" style="float: left;margin-right: 1em;margin-top: 0.5em; width: 50px;">Name</label>
									<input class="form-control form-control-lg" type="text" style="float:left;" name="name" value="{{info.name}}" required="required"/>
								</div>
								<div class="mb-2">
									<input class="form-control form-control-lg" type="number" name="age" value="{{info.age}}" style="float:right;"/>
									<label class="form-label" style="float: right;margin-right: 1em;margin-top: 0.5em; width: 50px;" required="required">Age</label>
								</div>
							</div>
							<div style="display: inline-block; block; width: 100%;">
								<div class="mb-2" style="margin-top: 1em;">
									<label class="form-label" style="float: left;margin-right: 1em;margin-top: 0.5em; width: 50px;">Gender</label>
									<input class="form-control form-control-lg" type="text" style="float:left;" name="gender" value="{{info.gender}}" required="required"/>
								</div>
								<div class="mb-2">
									<input class="form-control form-control-lg" type="date" name="issue_date" value="{{info.date}}"  style="float:right;"/>
									<label class="form-label" style="float: right;margin-right: 1em;margin-top: 0.5em; width: 50px;" required="required">Birth Date</label>
								</div>
							</div>
							<div style="display: inline-block; block; width: 100%;">
								<div class="mb-2" style="margin-top: 1em;">
									<label class="form-label" style="float: left;margin-right: 1em;margin-top: 0.5em; width: 50px;">RBC</label>
									<input class="form-control form-control-lg" type="number" step=".1" style="float:left;" value="{{info.measurments.RBC}}" name="rbc" />
								</div>
								<div class="mb-2">
									<input class="form-control form-control-lg" type="number" step=".1" name="hgb"  style="float:right;" value="{{info.measurments.HGB}}" />
									<label class="form-label" style="float: right;margin-right: 1em;margin-top: 0.5em; width: 50px;" >HGB</label>
								</div>
							</div>
							<div style="display: inline-block; block; width: 100%;">
								<div class="mb-2" style="margin-top: 1em;">
									<label class="form-label" style="float: left;margin-right: 1em;margin-top: 0.5em; width: 50px;">HCT</label>
									<input class="form-control form-control-lg" type="number" step=".1" style="float:left;" name="hct" value="{{info.measurments.HCT}}"  />
								</div>
								<div class="mb-2">
									<input class="form-control form-control-lg" type="number" step=".1" style="float:right;" value="{{info.measurments.MCV}}" name="mcv" />
									<label class="form-label" style="float: right;margin-right: 1em;margin-top: 0.5em; width: 50px;">MCV</label>
								</div>	
							</div>					
							<div style="display: inline-block; block; width: 100%;">
								<div class="mb-2" style="margin-top: 1em;">
									<label class="form-label" style="float: left;margin-right: 1em;margin-top: 0.5em; width: 50px;">MCH</label>
									<input class="form-control form-control-lg" type="number" step=".1" style="float:left;" value="{{info.measurments.MCH}}" name="mch" />
								</div>										
								<div class="mb-2">
									<input class="form-control form-control-lg" name="mchc" step=".1" type="number"   value="{{info.measurments.MCHC}}" style="float:right;" />
									<label class="form-label" style="float: right;margin-right: 1em;margin-top: 0.5em; width: 50px;">MCHC</label>
								</div>
							</div>										
							<div style="display: inline-block; block; width: 100%;">
								<div class="mb-2" style="margin-top: 1em;">
									<label class="form-label" style="float: left;margin-right: 1em;margin-top: 0.5em; width: 50px;">RDW</label>
									<input class="form-control form-control-lg" name="rdw" step=".1" type="number" value="{{info.measurments.RDW}}" style="float:left;" />
								</div>										
								<div class="mb-2">
									<input class="form-control form-control-lg" name="wbc" step=".1" type="number" value="{{info.measurments.WBC}}" style="float:right;" />
									<label class="form-label" style="float: right;margin-right: 1em;margin-top: 0.5em; width: 50px;">WBC</label>
								</div>
							</div>										
							<div style="display: inline-block; block; width: 100%;">
								<div class="mb-2" style="margin-top: 1em;">
									<label class="form-label" style="float: left;margin-right: 1em;margin-top: 0.5em; width: 50px;">LYM%</label>
									<input class="form-control form-control-lg" name="lymp"  step=".1" value="{{info.measurments.LYMP}}" type="number" style="float:left;" />
								</div>										
								<div class="mb-2">
									<input class="form-control form-control-lg" name="lym" step=".1" value="{{info.measurments.LYM}}" type="number" style="float:right;" />
									<label class="form-label" style="float: right;margin-right: 1em;margin-top: 0.5em; width: 50px;">LYM</label>
								</div>	
							</div>									
							<div style="display: inline-block; block; width: 100%;">
								<div class="mb-2" style="margin-top: 1em;">
									<label class="form-label" style="float: left;margin-right: 1em;margin-top: 0.5em; width: 50px;">MON%</label>
									<input class="form-control form-control-lg" value="{{info.measurments.MONP}}" name="monp" type="number" step=".1" style="float:left;" />
								</div>										
								<div class="mb-2">
									<input class="form-control form-control-lg" name="mon" value="{{info.measurments.MON}}" type="number" step=".1" style="float:right;" />
									<label class="form-label" style="float: right;margin-right: 1em;margin-top: 0.5em; width: 50px;">MON</label>
								</div>
							</div>
							<div style="display: inline-block; block; width: 100%;">
								<div class="mb-2" style="margin-top: 1em;">
									<label class="form-label" style="float: left;margin-right: 1em;margin-top: 0.5em; width: 50px;">GRA%</label>
									<input class="form-control form-control-lg" name="grap" value="{{info.measurments.GRAP}}" type="number" step=".1" style="float:left;" />
								</div>										
								<div class="mb-2">
									<input class="form-control form-control-lg" name="gra" value="{{info.measurments.GRA}}" type="number"  step=".1"style="float:right;" />
									<label class="form-label" style="float: right;margin-right: 1em;margin-top: 0.5em; width: 50px;">GRA</label>
								</div>
							</div>										
							<div style="display: inline-block; block; width: 100%;">
								<div class="mb-2" style="margin-top: 1em;">
									<label class="form-label" style="float: left;margin-right: 1em;margin-top: 0.5em; width: 50px;">PLT</label>
									<input class="form-control form-control-lg" name="plt" value="{{info.measurments.PLT}}" type="number"  step=".1"style="float:left;" />
								</div>										
								<div class="mb-2">
									<input class="form-control form-control-lg" name="mpv" value="{{info.measurments.MPV}}" type="number" step=".1" style="float:right;" />
									<label class="form-label" style="float: right;margin-right: 1em;margin-top: 0.5em; width: 50px;">MPV</label>
								</div>
							</div>										
							<div style="display: inline-block; block; width: 100%;">
								<div class="mb-2" style="margin-top: 1em;">
									<label class="form-label" style="float: left;margin-right: 1em;margin-top: 0.5em; width: 50px;">PCT</label>
									<input class="form-control form-control-lg" name="pct" value="{{info.measurments.PCT}}" type="number" step=".1" style="float:left;" />
								</div>										
								<div class="mb-2">
									<input class="form-control form-control-lg" name="pdw" value="{{info.measurments.PDW}}" type="number" step=".1" style="float:right;" />
									<label class="form-label" style="float: right;margin-right: 1em;margin-top: 0.5em; width: 50px;">PDW</label>
								</div>
							</div>										
							<div class="mb-5" style="margin-top: 1em;">
								<label class="form-label">Comments</label>
								<input class="form-control form-control-lg"  value="{{info.comments}}" name="comments" type="text" style="width: 100%;" />
							</div>
							<input type="text" name="reportid" style="visibility: hidden;">
							<div class="text-center mt-3">
								<button type="submit" class="btn btn-lg btn-primary">Save & Submit</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
