<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Responsive Admin &amp; Dashboard Template based on Bootstrap 5">
	<meta name="author" content="AdminKit">
	<meta name="keywords" content="adminkit, bootstrap, bootstrap 5, admin, dashboard, template, responsive, css, sass, html, theme, front-end, ui kit, web">

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link rel="shortcut icon" href="/img/icons/icon-48x48.png" />
	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<title>{{title}}</title>

	<link href="/css/app.css" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600&display=swap" rel="stylesheet">
</head>

<body>
	<div class="wrapper">
		<nav id="sidebar" class="sidebar js-sidebar">
			<div class="sidebar-content js-simplebar">
				<h2 class="sidebar-brand">
          <span class="align-middle">Menu</span>
				</h2>

				<ul class="sidebar-nav">
					<!-- <li class="sidebar-header">
						Pages
					</li> -->

					<li class="sidebar-item {{#if activeProfile }}active{{/if}}">
						<a class="sidebar-link" href="{{#if patient}} /patient/profile/{{patientId}} {{else if doctor}} /doctor/profile/{{doctorId}}  {{/if}}" >
						<i class="align-middle" data-feather="user"></i> <span class="align-middle">Profile</span>
						</a>
					</li>

					<li class="sidebar-item {{#if activeDash }}active{{/if}}">
						<a class="sidebar-link" href="{{#if patient}} /patient/dashboard/{{patientId}} {{else if doctor}} /doctor/dashboard/{{doctorId}}  {{/if}}">
              				<i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
            			</a>
					</li>
					{{#if patient}}
					<li class="sidebar-item {{#if activeForm }}active{{/if}}">
						<a class="sidebar-link" href="/patient/newReport/{{patientId}}">
              				<i class="align-middle" data-feather="book"></i> <span class="align-middle">New Report</span>
            			</a>
					</li>
					{{/if}}

				</ul>

			</div>
		</nav>

		<div class="main">
			<nav class="navbar navbar-expand navbar-light navbar-bg">
				<a class="sidebar-toggle js-sidebar-toggle">
          <i class="hamburger align-self-center"></i>
        </a>

				<div class="navbar-collapse collapse">
					<ul class="navbar-nav navbar-align">
						<li class="nav-item dropdown">
							<a class="nav-icon dropdown-toggle d-inline-block d-sm-none" data-bs-toggle="dropdown">
                <i class="align-middle" data-feather="settings"></i>
              </a>

				<a class="nav-link dropdown-toggle d-none d-sm-inline-block" data-bs-toggle="dropdown">
              	{{#if patient}}  <img src="/img/{{patient.ImagePath}}" class="avatar img-fluid rounded me-1" alt="{{patient.FirstName}}"  /> <span class="text-dark">{{patient.FirstName}} {{patient.LastName}}</span> {{/if}}
              	{{#if doctor}}  <img src="/img/{{doctor.ImagePath}}" class="avatar img-fluid rounded me-1" alt="{{doctor.FirstName}}"  /> <span class="text-dark">{{doctor.FirstName}} {{doctor.LastName}}</span> {{/if}}

              </a>
							<div class="dropdown-menu dropdown-menu-end">
								<a class="dropdown-item" href="pages-profile.html"><i class="align-middle me-1" data-feather="user"></i> Profile</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="pages-settings.html"><i class="align-middle me-1" data-feather="settings"></i> Settings & Privacy</a>
								<a class="dropdown-item" ><i class="align-middle me-1" data-feather="help-circle"></i> Help Center</a>
								<div class="dropdown-divider"></div>
								<a class="dropdown-item" href="/">Log out</a>
							</div>
						</li>
					</ul>
				</div>
			</nav>

			{{{body}}}

			<footer class="footer">
				<div class="container-fluid">
					<div class="row text-muted">
						<div class="col-6 text-start">
							<p class="mb-0">
								<p class="text-muted" ><strong>Medical Reports Scanner</strong></a>
							</p>
						</div>
						<div class="col-6 text-end">
							<ul class="list-inline">
								<li class="list-inline-item">
									<a class="text-muted" href="https://adminkit.io/" target="_blank">Support</a>
								</li>
								<li class="list-inline-item">
									<a class="text-muted" href="https://adminkit.io/" target="_blank">Help Center</a>
								</li>
								<li class="list-inline-item">
									<a class="text-muted" href="https://adminkit.io/" target="_blank">Privacy</a>
								</li>
								<li class="list-inline-item">
									<a class="text-muted" href="https://adminkit.io/" target="_blank">Terms</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>

	<script src="/js/app.js"></script>

</body>

</html>